<h1>Eat-Da-Burger!</h1>

<h2>Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <li>
	    {{burger_name}}
	    <button class="change-devour" data-id="{{id}}" data="{{devoured}}" data-devoured="true">
	  	Devour it!
	    </button>
    </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured!</h2>

<ul>
  {{#each burgers_name}}
    {{#if devoured}}
    <li>
	    {{ burger_name }}
    </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<div>
  <form action="/api/burgers" method="POST">
  	<textarea type="text" name="burger_name"></textarea>

  	<button type="submit">Add burger!</button>
  </form>
</div>


 
